@import "tailwindcss";
@custom-variant dark (&:is(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-geist-sans);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}
